.primary-heading {
  margin-top: var(--size-700);
}

.nav-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line*/
  border: 0;
}

a {
  text-decoration: none;
}

.toggle {
  position: absolute;
  right: 0.5rem;
  display: none;
  cursor: pointer;
  background: transparent;
  border: 0;
  padding: 0.5em;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

@media (max-width: 50em) {
  .toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }

  .close-icon {
    display: none;
  }

  .btn {
    display: none;
  }

  .nav-list {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    display: none;
  }

  #primary-navigation {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-600);
    inset: 4rem var(--size-400) auto;
    border-radius: var(--size-100);
    background-color: lightblue;
  }
}
